<style>
    .master-image {
        width: 100%;
        height: 60vh;

        
        background-image: url('/assets/ml_school.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

    }

    .master-title {
        position: relative;
        top: -60px;
    }

    .master-title h2 {
        color: gray;
    }
</style>
<div class="master-image">
    
</div>
<div class="master-title">
    <h1>TensorFlow.DE</h1>
    <h2>- die deutschsprachige <a href="https://www.tensorflow.org/">TensorFlow</a> Community und Schule</h2>
</div>
